html {
    margin:0;
    padding:0;
}

body {
    background-color: hsl(0, 0%, 14%);
    color: white;
    margin:0;
    padding:0;
    overflow: visible;
}


/* top TABS STUFF */
ul.toptabs {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #8c8c8c;
    background-color: #666666;
    width: 100%;
}

/* Float the list items side by side */
ul.toptabs li {float: left;}

/* Style the links inside the list items */
ul.toptabs li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.toptabs li a:hover {background-color: #ddd;}

#active {
    background-color: #333333;
}

/*Content stuff*/
div.content {
    display: block;
    position: absolute;
    top: 55px;
    margin: 20px;
    z-index: -1;
    width: 100%;
    overflow: auto;
    color: hsl(0, 0%, 88%);
    font-size: 30px;
}

iframe.content {
    border-width: 0px;
    width:   98%;
    height: 780px;
}

img.content {
    display:  block;
    width:    98%;
    height: 780px;
}


/* removing "+Google Calendar" button - Jason */
div.logo-plus-button-lockup {
    display: none;
}
